* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    background-color: #f7f7f7;
  }

header {
    width: 90%;
    margin: 32px auto 16px;
    text-align: center;
}

.fuzzy {
    width: 100%;
    max-width: 480px;
    height: 40px;
    border-radius: 4px;
    padding: 0px 0px 0px 12px;
    font-size: 14px;
    color: rgb(59, 72, 78);
    border: none;
    background-color: #ececec;
}

.fuzzy::placeholder {
    color: #a0a0a0;
  }

.fuzzy:hover {
    background-color: #e7e7e7;
    transition: ease-in-out;
    transition-duration: 0.15s;    
}

.fuzzy:focus {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(97, 97, 97, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
    outline: 0;
    transition: ease-in-out;
    transition-duration: 0.15s;
}

.fuzzy::-webkit-search-cancel-button{
    margin-right: 12px;
    background-color: #cececf;
}

.container {
    width: 96%;
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-thumbnail {
    padding: 16px;
}